/* general */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 14px;
    color: #1a0d22;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header,
section {
    font-size: 122%;
}

h1 {
    font-size: 150%;
}

a {
    color: #89279a;
}

a:hover,
a:focus {
    color: #1a0d22;
}

.container {
    margin: 0 1.5em;
}

@media (min-width: 768px) {
    body {
        font-size: 18px;
    }

    h1 {
        font-size: 200%;
    }

    .container {
        width: 750px;
        margin: 0 auto;
    }
}

@media (min-width: 1000px) {
    .container {
        width: 950px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1100px;
    }
}


/* sections */

section {
    padding: 4em 0;
    text-align: center;
}

section.light {
    background: #f9f9f9;
}

section.dark {
    background: #28193a;
}

section p {
    max-width: 650px;
    margin: 1em auto;
}

.dark {
    color: #fff;
}

.dark a {
    color: #fff;
    transition: color 1s linear;
}

.dark a:hover,
.dark a:focus {
    transition: color 200ms ease-out;
}

.dark a:hover,
.dark a:focus,
.dark h1 {
    color: #f9c60b;
}

.illustration {
    max-width: 80%;
    margin: 4em auto;
}

.illustration.small {
    max-width: 100px;
}

.illustration img {
    max-width: 300px;
}

/*.illustrated-content .illustration img {*/
    /*!*display: block;*!*/
    /*!*width: 100%;*!*/
    /*!*max-width: 300px;*!*/
    /*!*margin: 0 auto;*!*/
/*}*/

@media (min-width: 768px) {
    .illustration.small {
        max-width: 200px;
    }

    .illustration.large {
        max-width: 600px;
    }

    .illustration img {
        max-width: 100%;
    }

    .illustration-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .illustration-container .illustration {
        width: 45%;
        text-align: center;
    }

    .illustration-container .content {
        width: 45%;
        text-align: left;
    }
}


/* hero */

.hero {
    background: #1c0c29 url("../images/hero-nightsky-768px.jpg") bottom no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.hero > .canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.hero-content {
    padding-top: 23%;
    max-width: 720px;
    position: relative;
    z-index: 1;
}

.logo {
    display: inline-block;
    font-family: 'Gilda Display', serif;
    font-size: 360%;
    color: #fff !important;
    text-decoration: none;
    margin: 0 auto 0.1em;
}

.hero nav {
    margin: 20% 0 1em;
    font-size: 70%;
}

.hero nav > * {
    display: inline-block;
    margin: 0 0.8em;
    text-decoration: none;
}

.hero nav > *:first-child {
    margin-left: 0;
}

.hero nav > *:last-child {
    margin-right: 0;
}

.hero nav > * > span {
    padding-right: 2px;
}

@media (min-width: 500px) {
    .hero nav {
        font-size: 85%;
    }
}

@media (min-width: 768px) {
    .hero {
        background-image: url("../images/hero-nightsky.jpg");
    }

    .hero-content {
        padding-top: 18%;
    }

    .hero nav {
        font-size: 100%;
        margin-top: 32%;
    }

    .hero nav > * {
        margin: 0 2em;
    }

    .hero nav > * > span {
        padding-right: 4px;
    }
}

/* intro */

#intro {
    background: url("../images/intro-background.png") bottom left no-repeat;
    background-size: auto 300px;
    padding-bottom: 300px;
}

@media (min-width: 500px) {
    #intro {
        background-position: bottom right;
    }
}


@media (min-width: 768px) {
    #intro {
        background-size: auto 450px;
        padding-bottom: 400px;
    }
}


@media (min-width: 1200px) {
    #intro {
        background-size: auto 600px;
        padding-bottom: 550px;
    }
}



/* features */

section.features {
    padding: 3em 0;
    font-size: 120%;
}

.feature {
    text-align: center;
    padding: 1em 0;
    max-width: 350px;
    margin: 0 auto;
}

.features.shine .feature {
    animation: featureShine 700ms ease;
}

.features.shine .feature:nth-child(2) {
    animation-delay: 100ms;
}

.features.shine .feature:nth-child(3) {
    animation-delay: 200ms;
}

@keyframes featureShine {
    0% {color: #fff}
    50% {color: #f9c60b}
    100% {color: #fff}
}

.feature > span {
    font-size: 350%;
    margin: 0.2em 0;
}

.feature h3 {
    font-size: 140%;
    margin: 0.5em 0;
}

.feature p {
    margin-top: 0;
}

@media (min-width: 768px) {
    .features > .container {
        display: flex;
        justify-content: space-between;
    }

    .feature {
        width: 30%;
        margin: 0;
        font-size: 80%;
    }

    .feature > span {
        margin: 0.4em 0;
    }

    .feature h3 {
        margin: 1em 0;
    }
}

/* asset */

#assets {
    background: #28193a url("../images/asset-background.jpg") no-repeat center bottom;
    background-size: auto 150px;
    padding-bottom: 200px;
}

@media (min-width: 500px) {
    #assets {
        background-size: contain;
        padding-bottom: 30%;
    }
}

/* join us */

.social-icons {
    font-size: 200%;
}

.social-icons > a {
    display: inline-block;
}

.social-icons > a + a {
    margin-left: 0.4em;
}

/* footer */

footer {
    padding: 5em 1em 2em;
    text-align: center;
}

footer.dark {
    background: #1c0f29;
    color: #7e5d8c;
}

footer.dark a {
    color: #7e5d8c;
}

/*footer.dark a:hover,*/
/*footer.dark a:focus {*/
    /*color: #fff;*/
/*}*/

footer .logo {
    display: inline-block;
    width: 1em;
}

footer .logo img {
    display: block;
    width: 100%;
}

footer nav {
    max-width: 24em;
    margin: 3em auto 0;
}

footer nav > * {
    display: inline-block;
    margin: 0.5em 1em;
    text-decoration: none;
}

@media (min-width: 768px) {
    footer {
        font-size: 80%;
    }
}